/* Mobile First View: */

h2 {
	display: none;
}

aside {
	background: #f1edf1;
	font-size: 120%;
	padding: 5px 0;
	text-align: center;
	width: 100%;
}

/* Style the links in the aside section */
aside a {
	color: #171718;
	display: block;
	padding: 5px 0;
	text-decoration: none;
	width: 100%;
}

/* Change the color of aside links on hover using mouse */
aside a:hover {
	background-color: #E3DFDE;
	color: rgb(147, 11, 11);
}


/* Change the color of aside links on focus using tab key */
aside a:focus {
  background-color: #fef5ff;
  color: #0ec686;
  outline: none;
}


article {
	background-color: #f6f6f7;
	color: #101011;
	font-size: 120%;
	padding: 0 10px;
}

article a {
	color: #080505;
	padding: 5px;
	text-decoration: none;
}

/* Change the color of article links on hover using mouse */
article a:hover {
  background-color: #e4eeed;
  color: #f1cf78;
}


/* Change the color of article links on focus using tab key */
article a:focus {
  background-color: rgb(228, 170, 170);
  color: #f1c6f1;
  outline: none;
}

#main_image {
	width: 100%;
}


/* For desktop: */
@media only screen and (min-width: 768px) {

	main {
		display: flex;
	}

	aside {
		align-items: center;
		display: flex;
		flex-direction: column;
		float: left;
		justify-content: center;
		width: 30%;
	}

	section {
		display: inline;
		float: right;
		width: 70%;
	}

}